body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(58, 58, 58);
    animation: pulseBackground 5s ease-in-out infinite alternate;
}

@keyframes pulseBackground {
    0% {
        background-color: rgb(136, 135, 135);
    }
    100% {
        background-color: rgb(38, 38, 38);
    }
}

#camera {
    border-radius: 50%;
    width: 80vw;
    max-width: 600px;
    height: 80vw;
    max-height: 600px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid transparent;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    animation: snakeBorder 4s linear infinite;
    transform: translate(-50%, -50%) scaleX(-1); /* Inversão na Câmera */
}

@keyframes snakeBorder {
    0%, 50%, 100% {
        border: 10px solid transparent;
    }
    25%, 75% {
        border: 10px solid white;
    }
}
